Data/combined_data/~$SouthAmerica.xlsx
Data/combined_data/~$Venezuela.xlsx
code/mosiDriver.asv
code/mosiDriver.asv
Data/mosquitos_occurances/mosi_data_fromDryad/~$aegypti.xlsx
Data/combined_data/South_America/~$Brazil.xlsx
Data/combined_data/South_America/~$Argentina.xlsx
code/mosiDriver.asv
code/mosiDriver.asv
Data/geo_mapping_data/global_admin_areas/gadm28.shp.zip
Data/geo_mapping_data/global_admin_areas/gadm28.shp/gadm28.cpg
Data/geo_mapping_data/global_admin_areas/gadm28.shp/gadm28.dbf
Data/geo_mapping_data/global_admin_areas/gadm28.shp/gadm28.shp
Data/geo_mapping_data/global_admin_areas/gadm28.shp/gadm28.prj
Data/geo_mapping_data/global_admin_areas/gadm28.shp/gadm28.shx
Data/geo_mapping_data/global_admin_areas/gadm28.shp/license.txt
code/temperatureInterpolationDriver.asv
code/globalAdminCoords.asv
Data/disease_outbreaks/DengueClassificationFromCdcYellowBook.xlsx
Data/combined_data/South_America/GCM_Argentina_2015.csv
Data/disease_outbreaks/DengueClassificationFromCdcYellowBook.xlsx
Data/disease_outbreaks/~$CDCDengue.xlsx
Data/disease_outbreaks/~$DengueClassificationFromCdcYellowBook.xlsx
Data/disease_outbreaks/DengueClassificationFromCdcYellowBook.xlsx
Data/disease_outbreaks/DengueClassificationFromCdcYellowBook.xlsx
Data/disease_outbreaks/~$Dengue_Occurrence_12122013.xlsx
Data/noaa_temp_precip_elevation/Central America/PuertoRico_2015/~$PuertoRico_2015.xlsx
Data/disease_outbreaks/DengueClassificationFromCdcYellowBook.xlsx
Data/disease_outbreaks/Dengue_Occurrence_12122013.xlsx